@import "../../styles/Variables";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: var(--color-black);

  &:hover {
    text-decoration: underline;
  }
}
.container_name {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.label {
  display: none;
  font-weight: 400;
}
.name {
  font-weight: bold;
}
.thumbnail_container {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
}
@media (max-width: $breakpoint-sm) {
  .label {
    width: 100%;
    display: block;
    color: var(--color-gray);
    font-size: var(--font-size-small);
  }
  .name {
    font-size: var(--font-size-regular);
  }
}
