@import "../../styles/Variables.scss";

.container {
  height: 44px;
  padding: 8px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
  position: relative;
  transition: border-color 0.2s;
  font-size: var(--font-size-small);
  border: 1px solid var(--color-gray-vvlight);

  .content {
    display: flex;
    align-items: center;
    flex-grow: 2;
  }

  .details {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 2;
  }

  .details_content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 2;
  }

  @media (max-width: $breakpoint-sm) {
    height: auto;
    padding: 10px;
  
    .content {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .details_content {
      flex-wrap: wrap;
    }

    .date {
      margin-left: auto;
    }
  }

  &.is_link:hover {
    background-color: var(--color-gray-vvlight);
  }
}

.icon {
  width: 15px;
  text-align: center;
  margin-bottom: -2px;
}

.date {
  color: var(--color-gray);
  flex-shrink: 0;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  z-index: 1;

  i {
    margin-left: 5px;
    font-size: 14px;
  }

  &:hover {
    color: var(--color-secondary);
  }
}

.price {
  justify-self: flex-end;
  color: var(--color-secondary);
  font-weight: bold;
  flex-shrink: 0;
}

.user {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.align {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}