.container {
  width: 100%;
  border: 3px solid var(--color-black);
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;

  gap: 20px;
}

.date {
  color: var(--color-gray);
}

.price {
  justify-self: flex-end;
  color: var(--color-secondary);
  font-weight: bold;
}