.caption_textarea {
  border: none;
  outline: none;
  font-weight: inherit;
  font-family: inherit;
  resize: none;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-top: 8px;

  &::placeholder {
    font-weight: normal;
    color: var(--color-gray);
  }
}

.figcaption {
  position: relative;
  margin-top: 4px;

  .placeholder {
    font-weight: normal;
    color: var(--color-gray);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }
}

.figure {
  position: relative;

  .figcaption.empty {
    display: none;
  }

  &.selected {
    .figcaption {
      display: block;
    }

    .delete {
      display: block;
    }
  }
}

.import_image {
  width: min(100%, 900px);
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: var(--color-gray-vvlight);
  border-radius: 4px;
  border: none;

  i {
    margin-right: 8px;
  }

  &:hover {
    background-color: var(--color-gray-vlight);
  }
}