.caption_textarea {
  border: none;
  outline: none;
  font-weight: inherit;
  font-family: inherit;
  resize: none;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-top: 8px;

  &::placeholder {
    font-weight: normal;
    color: var(--color-gray);
  }
}

.figcaption {
  position: relative;
  margin-top: 4px;

  .placeholder {
    font-weight: normal;
    color: var(--color-gray);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }
}

.figure {
  position: relative;

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-secondary);
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    color: var(--color-white);
  }

  .figcaption.empty {
    display: none;
  }

  &.selected {
    img {
      box-shadow: 0 0 0 3px var(--color-secondary);
    }

    .figcaption {
      display: block;
    }

    .delete {
      display: block;
    }
  }
}