@import "../../../styles/Variables.scss";


.artwork_header {
}

.artwork_header_mobile {
  display: none;
}

.metadata {
  font-size: var(--font-size-small);
  color: var(--color-gray);
  font-weight: normal;
}

@media (max-width: $breakpoint-md) {
  .artwork_header {
    display: none;
  }

  .artwork_header_mobile {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
  }
}

.presentation {
  width: 100%;
  display: flex;
  gap: var(--layout-margin-big-md);

  header {
    margin-left: -20px;
  }

  &.presentation_small {
    .presentation_artwork {
      width: 300px;
      height: 300px;
      flex-shrink: 0;
    }
  }
}

.presentation_details {
  overflow-wrap: break-word;
  word-break: break-word;

  .presentation_title {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &.inline {
    flex-grow: 2;

    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--layout-gap-small-lg);
    }

    .artwork_details {
      width: 300px;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @media (max-width: $breakpoint-md) {
      header {
        flex-direction: column-reverse;
      }

      .artwork_details {
        align-items: flex-start;
      }
    }
  }
}

.presentation_artwork {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.preview-container {
  width: 100%;
  padding-top: 100%;
}

.preview-container-auto {
  width: 100%;
  padding-top: 100%;
  position: relative;

  .preview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.artwork_details {
  width: min(380px, 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.view-collection-container {
  display: flex;
  justify-content: center;
}

.activity-wrapper {
  display: flex;
  justify-content: center;
}

.activity {
  width: min(100%, 1000px);
}

@media (max-width: $breakpoint-md) {
  .presentation {
    flex-direction: column-reverse;

    header {
      margin-left: 0px;
    }
  }
  .centered_mint {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: $breakpoint-sm) {
  .artwork_buttons {
    button, a {
      width: 50px;

      & > span {
        display: none;
      }
      i {
        font-size: 1.2em;
        margin-left: 0 !important;
      }
    }
  }
}

.multilines {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-small-sm);
  align-items: flex-start;
  width: 100%;
}

.extra_details {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
  gap: 12px 5px;
  /* prevents children elements from streching */
  justify-items: start;
  // & > *:nth-child(2n):not(a) {
  //   opacity: 0.6;
  // }
}

.features_wrapper {
  width: 100%;
}

.project_infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  h3 {
    font-weight: bold;
    font-size: var(--font-size-regular);
  }
}

@media (max-width: $breakpoint-sm) {
  .presentation {
    gap: 32px;
  }
  .author_avatar {
    width: 50px;
    height: 50px;
  }
  .artwork_details {
    font-size: 20px;
  }
  .button {
    width: 100%;
  }
  .project_infos {
    width: 100%;
    justify-content: space-between;
    h3 {
      font-size: var(--font-size-h5);
    }
  }
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-gray);
  }
  .description_opened {
    -webkit-line-clamp: unset;
    max-height: 100%;
  }
  .multilines {
    gap: 16px;
  }
  .mobile_grid_two {
    grid-column: span 2;
  }
  .mobile_align_right {
    width: 100%;
    text-align: right;
  }
  .metadata {
    font-size: var(--font-size-regular);
  }
}
