.container {
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.no_pad {
    padding-left: 0px;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  background-color: var(--color-gray-vvlight);
  flex-shrink: 0;
  height: 26px;
  width: 26px;
  display: block;
  border: 3px solid var(--color-border-input);
  overflow: hidden;
  position: relative;
  margin-right: 15px;
}

.radio .checkmark {
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border-color: var(--color-secondary);
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark {
  &:after, &:before {
    display: block;
  }
}

.container input:focus ~ .checkmark {
  outline: 3px solid var(--color-secondary);
}

/* Style the checkmark/indicator */
.container .checkmark {
  &:after {
    content: "";
    position: absolute;
    display: none;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: var(--color-primary);
  }
}
