.root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 8px;
  font-size: var(--font-size-small);

  &.layout_fixed-size {
    grid-template-columns: repeat(auto-fit, 200px);
  }

  &.layout_group {
    border: 3px solid var(--color-black);
    padding: 8px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.opt_default_renderer_root {
  padding: 7px 0;
}

.button {
  border: 3px solid var(--color-border-input);
  background: var(--color-white);
  color: var(--color-black);
  cursor: pointer;
  transition: all 0.15s;
  padding: 0;

  &:hover {
    border-color: var(--color-black);
  }

  &.active {
    border-color: var(--color-secondary);
    font-weight: bold;
  }
}
