.input {
  border: 3px solid var(--color-black);
  padding: 15px;
  font-family: inherit;
  outline: none;
  font-size: inherit;

  &:focus {
    border-color: var(--color-secondary);
  }
}

.text {
  height: 50px;
}

.textunit {
  display: flex;
  align-items: center;
  gap: 15px;
  width: calc(min(100%, 400px));

  span {
    font-weight: bold;
    font-size: var(--font-size-h5);
  }

  input {
    flex-grow: 2;
  }
}

.error {
  border-color: var(--color-error);
}

.texarea {
  resize: vertical;
  min-height: 150px;
}