.root {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
  z-index: 2;
}

.input_search {
  position: relative;
  z-index: 4;
}

.results_wrapper {
  position: relative;
  width: 100%;
  z-index: 2;
}

.results {
  position: absolute;
  width: 100%;
  top: 100%;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain;
  background-color: var(--color-white);
  border: 3px solid var(--color-border-input);
  border-top: none;
  padding: 5px 0;
  z-index: 2;

  .result {
    background: transparent;
    border: none;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
    padding: 8px 15px;
    font-size: var(--font-size-small);

    &:hover {
      background: var(--color-gray-vvlight);
    }

    * {
      pointer-events: none;
    }
  }
}

.no_results {
  margin-top: 8px;
  color: var(--color-gray);

  i {
    font-size: 1.15em;
  }
}