@import "../../styles/Variables.scss";

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid var(--color-border-input);
  background-color: var(--color-white);
  height: 50px;
  padding-left: 4px;

  button {
    border: none;
    background: transparent;
  }

  input {
    border: 0;
    font-family: inherit;
    outline: none;
    width: 100%;
  }

  &:focus-within {
    border-color: var(--color-secondary);
  }
}

.search-icon {
  font-size: 25px;
  color: var(--color-border-input);
}

.large_search {
  flex-grow: 2;
  max-width: 800px;
}

@media (max-width: $breakpoint-sm) {
  .search {
    transition: 0.2s all ease-out;
    &--minimize {
      box-shadow: none;
      padding-left: 0;
      border-color: transparent;
      input {
        transition: 0.2s all ease-out;
        width: 0;
      }
      &:focus-within {
        border-color: transparent;
      }
    }
  }
}
