.search {
  display: flex;
  position: relative;

  button {
    border: none;
    background: transparent;
  }

  input {
    border: 3px solid var(--color-border-input);
    height: 50px;
    font-family: inherit;
    padding-left: 48px;
    outline: none;
    width: 100%;
    background-color: var(--color-white);

    &:focus {
      border-color: var(--color-secondary);
    }
  }
}

.search-icon {
  position: absolute;
  font-size: 25px;
  pointer-events: none;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: var(--color-border-input);
}

.large_search {
  flex-grow: 2;
  max-width: 800px;
}