.root {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-vvlight);
    transition: .1s;
    border-radius: 100px;
  }

  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 1.33px;
    bottom: 1px;
    background-color: var(--color-black);
    transition: .1s;
    border-radius: 100px;
    box-shadow: 0px 3px 15px -5px rgba(0, 0, 0, 0.5);
  }

  input:checked + .slider {
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    background-color: var(--color-primary);
    transform: translateX(22px);
  }
}
