
$height: 30px;

.squaredButton {
  width: $height;
  height: $height;
  padding: 0;
  border: 1px solid var(--fxl-color-light2);
  position: relative;
  background: white !important;
  &.active {
    border-color: var(--fxl-color-primary);
  }
  &:focus-visible {
    outline-offset: -1px;
  }
}

.square {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
}

.pickerWrapper {
  position: relative;
}

.pickerAbsoluteWrapper {
  position: absolute;
  bottom: 0;
  transform: translate(0, calc(100% + var(--fxl-spacing-xxs)));
  z-index: 10;
}

.picker {
  border: 1px solid var(--fxl-color-light2);
  input {
    background: var(--fxl-color-light);
  }
}

.colorful {
  :global {
    .react-colorful__saturation {
      border-radius: 0;
    }
    .react-colorful__last-control {
      border-radius: 0;
    }
  }
}

