.button {
  background: var(--color-black);
  color: var(--color-white);
  font-weight: bold;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 0px 2px 14px -4px rgba(0, 0, 0, 0.67);
  transition: all 0.3s ease-out;
  border: 1px solid transparent;
  text-decoration: none !important;

  &:hover {
    box-shadow: 0px 2px 24px -4px rgba(0, 0, 0, 0.67);
    border: 1px solid var(--color-white);
  }
}

.font-regular {
  font-size: 1rem;
}

.font-medium {
  font-size: 1.125rem;
}

.font-large {
  font-size: 1.25rem;
}

.size-regular {
  height: 46px;
  padding: 28px;
}

.size-medium {
  height: 56px;
  padding: 0 35px;
}

.size-large {
  height: 62px;
  padding: 0 45px;
}

.icon-left i {
  margin-right: 15px;
}

.icon-right {
  flex-direction: row-reverse;
}

.icon-right i {
  margin-left: 15px;
}