@import "../../styles/Variables.scss";

.wrapper {
  display: block;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  overscroll-behavior: contain;
  border: 1px solid var(--color-gray-vlight);
}

.hide {
  display: none;
}

.container-button {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  font-size: var(--font-size-small);

  thead {
    position: sticky;
    z-index: 10;
    top: 0;
    background: var(--color-gray-vvlight)
  }

  th {
    padding: 12px 4px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid var(--color-gray-vlight);

    &:first-child {
      padding-left: 8px;
    }
  }

  td {
    vertical-align: middle;
    padding: 4px;
    height: 50px;
    border-bottom: 1px solid var(--color-gray-vlight);

    &>* {
      vertical-align: middle;
    }
  }
}

.th-gentk {
  width: 40%;
}

.th-user {
  width: 19%;
}

.th-price {
  width: 10%;
}

.th-time {
  width: 12%;
}

.td-gentk {}

.td-user {
  overflow-wrap: break-word;
  word-break: break-word;

  a {
    color: var(--color-black);
    font-weight: normal;
  }
}

.td-price {}

.td-time {}

.price {
  color: var(--color-secondary);
  font-weight: bold;
}

.skeleton-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
}

.skeleton-thumbnail {
  margin-right: 8px;
}

.empty {
  padding: 0 8px;
  text-align: center;
}

@media (max-width: $breakpoint-lg) {
  .th-gentk {
    width: 34%;
  }

  .th-user {
    width: 22%;
  }

  .th-price {
    width: 10%;
  }

  .th-time {
    width: 12%;
  }
}

@media (max-width: $breakpoint-sm) {
  .wrapper {
    height: auto;
    max-height: 400px;
    overscroll-behavior: auto;
  }

  .th-user,
  .th-time,
  .td-user,
  .td-time {
    display: none;
  }
}