.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.disabled {
  filter: grayscale(100%);
}