.form {
  display: flex;
	flex-direction: column;
}

.field {
  display: flex;
	flex-direction: column;
	position: relative;

  & + .field {
    margin-top: var(--layout-margin-big-md);
  }

	& > label {
		display: block;
		margin-bottom: 10px;
    font-weight: bold;
    font-size: var(--font-size-h5);
	}
}

.error {
  position: absolute;
  top: 3px; 
  right: 0;
  color: var(--color-error);
  font-weight: bold;
}