.splits {
  margin-left: 20px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 4px 0px;
  align-items: center;
  font-size: var(--font-size-small);
}

.btn_toggle {
  border: none;
  background: transparent;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
  position: relative;
  padding-left: 15px;
  left: -15px;
  text-align: left;

  i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(calc(-50% + 1px));
    font-size: 10px;
    color: var(--color-gray);
    transition: all 0.15s;
  }

  &:hover {
    i {
      color: var(--color-black);
    }
  }
}

.user {

  a {
    color: var(--color-black) !important;
    font-weight: normal !important;
  }
}

.pct {
  color: var(--color-gray);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: calc(100% + 8px);
    bottom: calc(50% - 1px);
    width: 10px;
    height: 30px;
    border-color: var(--color-gray-light);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
  }

  &:first-child {
    &::before {
      height: 15px;
      bottom: auto;
      top: calc(50% - 1px);
      border-bottom-width: 0;
      border-top-width: 1px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 5px;
    }
  }

  &:nth-child(3) {
    &::before {
      height: 15px;
    }
  }

  &:nth-last-child(2) {
    &::before {
      height: 15px;
      border-bottom-left-radius: 5px;
    }
  }
}

.single_split {
  .pct {
    &:first-child {
      &::before {
        height: 0;
      }
    }
  }
}

.more_2_split {
  .pct {
    &:nth-last-child(2) {
      &::before {
        height: 25px;
      }
    }
  }
}