.root {
  .splits {
    margin-left: 20px;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 4px 0px;
    margin-top: 8px;
    align-items: center;
    font-size: var(--font-size-small);
  }

  .btn_toggle {
    border: none;
    background: transparent;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
    position: relative;
    padding-left: 15px;
    left: -15px;

    i {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(calc(-50% + 1px));
      font-size: 10px;
      color: var(--color-gray);
      transition: all 0.15s;
    }

    &:hover {
      i {
        color: var(--color-black);
      }
    }
  }

  .user {

    a {
      color: var(--color-black) !important;
      font-weight: normal !important;
    }
  }

  .pct {
    color: var(--color-gray);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: calc(100% + 8px);
      bottom: calc(50% - 1px);
      width: 10px;
      height: 35px;
      border-bottom: 1px solid var(--color-gray-light);
      border-left: 1px solid var(--color-gray-light);
      border-bottom-left-radius: 5px;
    }

    &:first-child {
      &::before {
        height: 16px;
      }
    }
  }
}