.root {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-size: cover;
    background-position: center;
    background-color: black;
    flex-shrink: 0;
  }

  span {
    text-align: left;
  }
}