@import "../../styles/Variables";
.item {
  display: flex;
  flex-direction: row;
}
.user {
  color: var(--color-black) !important;
  font-weight: normal !important;
  margin-left: 8px;
}

.pct {
  color: var(--color-gray);
}

@media (max-width: $breakpoint-sm) {

}
