@import "../../styles/Variables.scss";

.article {
  line-height: 180%;

  h1 {
    font-size: var(--font-size-h3);
    margin-top: 2.2em;
    // margin-left: -40px;
    line-height: 110%;

    // &::before {
    //   content: "— ";
    // }

    @media (max-width: $breakpoint-sm) {
      margin-left: 0;

      &::before {
        content: "";
      }
    }
  }
  h2 {
    font-size: var(--font-size-h4);
    margin-top: 2em;
  }
  h3 {
    font-size: var(--font-size-h5);
    margin-top: 2em;
  }

  p, ul {
    margin-top: 2em;
  }

  ul ul {
    margin-top: 0;
  }

  img {
    max-width: 100%;
    margin: auto;
    display: block;
  }

  pre, code {
    font-family: inherit;
  }

  pre {
    max-width: 100%;
    overflow-x: auto;
    margin-top: 1.5em;
  }

  pre code {
    box-shadow: 0px 2px 14px -4px rgba(0, 0, 0, 0.67);
    padding: 15px;
    font-size: 0.8em;
    line-height: 150%;
  }

  p, ul, table {
    code {
      background: #e3e3e3;
      padding: 2px 5px;
      border-radius: 4px;
    }
  }

  table {
    border: 1px solid var(--color-gray-light);
    border-collapse: collapse;
    max-width: 100%;
    display: block;
    overflow-x: auto;

    thead {
      background-color: var(--color-gray-vvlight);
    }

    td, th {
      border: 1px solid var(--color-gray-light);
      padding: 5px 10px;
      text-align: left;
    }

    td {
      font-size: var(--font-size-small);

      code {
        font-size: 0.8em;
      }
    }
  }
}

:global .dark :local .article {
  p, ul, table {
    code {
      background: #111111;
      border: 1px solid var(--color-gray-vlight);
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .article {
    a, li, p {
      word-break: break-word;
      overflow-wrap: break-word;
    }
  }
}
