@import "../../styles/Variables";

.root {
  
  .overflow_counter {
    transition: all 0.3s;
    display: flex;
    word-break: keep-all;
    padding: 5px 0 5px 6px;
    align-items: center;
    justify-content: flex-end;
  }

  .avatars_list {
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .avatars {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    position: relative;
    z-index: 1;
    // pointer-events: none;

    &:hover {
      .link {
        color: var(--color-black);
      }
    }

    .avatar_wrapper {
      transition: all 0.3s;
      position: relative;

      &:not(:first-child) {
        margin-left: -25px;
      }

      .user_name {
        display: none;
        font-weight: bold;
        color: var(--color-primary);
        font-size: var(--font-size-small);
      }
    }

    .avatar {
      border: 3px solid var(--color-white);
    }

    .link {
      background-color: var(--color-white);
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      font-size: var(--font-size-small);
      padding: 0 16px;
      color: var(--color-gray);
      box-shadow: 0px 2px 8px -4px rgb(0 0 0 / 8%);

      .caret {
        font-size: 0.8em;
      }
    }
  }

  &.opened {
    .avatars {
      .avatars_list {
        margin-left: 50px;
      }
      .avatar_wrapper {
        margin-left: -50px;

        &.link {
          margin-left: -50px;
        }

        &.overflow_counter {
          margin-right: -35px;
        }

        &.link.toggler {
          margin-left: -30px;
        }
      }
    }
  }

  .collaborators {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: var(--font-size-small);
    margin-top: -20px;
    margin-left: 3px;
    transition: all 0.3s;
    pointer-events: none;
    position: relative;
    align-items: flex-start;

    .collaborator {
      margin-top: -40px;
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  }

  &.opened {
    .avatar {
      box-shadow: none;
    }

    .link {
      box-shadow: 0px 2px 8px -4px rgb(0 0 0 / 15%);
    }

    .collaborators {
      margin-top: 8px;
      pointer-events: all;

      .collaborator {
        margin-top: 0;
        opacity: 1;
      }
    }
  }

  &.toggeable {
    padding-bottom: 20px;
    @media (max-width: $breakpoint-sm) {
      padding-bottom: 10px;
    }

    .avatars {
      pointer-events: all;
    }

    .link.toggler {
      margin-left: -10px;
    }
  }

  &:not(.toggeable) {
    .avatars {
      width: 100%;
      overflow: hidden;

      &:hover {
        .link {
          color: var(--color-gray);
        }
      }

      .avatar_wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;

        &:not(.link):hover {
          flex-grow: 2;

          .user_name {
            position: absolute;
            left: 4px;
            width: 300px;
            display: flex;

            .user_name_content {
              display: flex;
              flex-direction: row;
              align-items: baseline;
              gap: 5px;
              background-color: var(--color-white);
              padding: 5px 10px;
              border-radius: 30px;
            }
          }
        }
      }
    }
  }

  //
  // size related stuff
  //
  &.size_regular {
    align-items: flex-start !important;
    
    .avatars {

      .avatar {
        border-width: 2px;  
      }

      .link {
        padding: 0 12px;

        i {
          font-size: 0.9em;
        }
      }
    }

    &.opened {
      .avatars {

        .overflow_counter {
          margin-right: -35px;
        }
        .avatars_list {
          margin-left: 35px;
        }
        .avatar_wrapper {
          margin-left: -33px;
        }

      }
    }
  }

  &.size_small {
    .avatars {
      .avatar {
        border-width: 1px;
      }

      .avatar_wrapper {
        margin-left: -10px;
      }

      .link {
        padding: 0 8px;

        i {
          font-size: 0.8em;
        }
      }
    }

    &.opened {
      .avatars {
        .avatar_wrapper {
          margin-left: -37px;
        }
      }
    }
  }

  //
  // side-related stuff
  //
  &.side_right {
    .avatars {
      flex-direction: row;

      .link:first-of-type {
        z-index: 1;
      }

      .link:last-of-type {
        display: none;
      }

      .overflow_counter {
        margin-left: 0;
        border: none;
        padding-right: 0;
        padding-left: 6px;
      }


      .avatars_list {
        flex-direction: row-reverse;

        .avatar_wrapper {
          margin-left: -20px;
          flex-direction: inherit;
        }
      }

      .avatar_wrapper {

        &:not(.link):hover {
          .user_name {
            margin-left: 10px;
            position: relative;
            margin-right: -33px;
            width: auto;
            line-height: 0.8em;
          }
        }
      }
    }
  }

  &.hide {
    opacity: 0;
  }

  &.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

:global(.dark) :local(.root) {
  &.opened {
    .link {
      box-shadow: 0px 2px 8px -4px rgb(0 0 0 / 70%);
    }
  }
}
