.root {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  padding: 10px;
  border: 1px solid var(--color-gray-vlight);
  background-color: var(--color-white);
  border-radius: 4px;
  width: min(100vw, 600px);
}