.element_wrapper {
  position: relative;
  padding-bottom: 30px;

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    opacity: 0;

    &>button {
      cursor: pointer;
      border: none;
      background-color: var(--color-secondary);
      width: 30px;
      height: 30px;
      color: var(--color-white);
    }
  }

  .sep {
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-border);
    z-index: 0;
  }

  &:not(.opened):hover {
    .buttons {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.add_block_wrapper {
  position: absolute;
  bottom: 14px;
  left: 50%;
  z-index: 100;

  .add_block {
    transform: translateX(-50%);
  }
}