.menu {
  position: absolute;
  opacity: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-vlight);
  border-radius: 4px;
  padding: 4px;
}

.textFormatButton {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--color-gray);

  &:hover {
    color: var(--color-secondary);
  }

  &.active {
    color: var(--color-black);
  }
}