.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;

  & > * {
    width: min(100%, 450px);
  }

  & > *:first-child {
    border-right: 3px solid var(--color-black);
  }

  h4 {
    margin-bottom: 40px;
  }
}

.form {
  button {
    align-self: flex-start;
  }
}

.checkbox {
  label {
    flex-direction: row-reverse !important;
    justify-content: flex-end;
    padding-left: 0;

    span {
      margin-left: 20px;
    }
  }
}