.iframe {
  color-scheme: light;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  z-index: 999999;
  height: 100%;
}