@import "../../styles/Variables";
.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  small {
    font-style: var(--font-size-small);
    font-weight: bold;
    margin-bottom: 3px;
  }
}

.iterationInputContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  button {
    height: auto;
  }
}

.iterationInput {
  flex-grow: 1;
}

.maxIterationInput {
  width: 100px;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 8px;
  margin-top: 8px;

  button {
    flex-grow: 1;
  }
}
@media (max-width: $breakpoint-sm) {
  .buttons {
    margin-top: 16px;
    flex-direction: column;
    gap: 16px;
  }
}
