@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?xs76i9');
  src:  url('/fonts/icomoon/icomoon.eot?xs76i9#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?xs76i9') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?xs76i9') format('woff'),
    url('/fonts/icomoon/icomoon.svg?xs76i9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tezos-xtz-logo:before {
  content: "\e900";
}
