@import './Variables.scss';

.presentation {
  width: 100%;
  display: flex;
  gap: var(--layout-gap-small-lg);

  header {
    margin-left: -20px;
  }

  &.presentation-small {
    .presentation-artwork {
      width: 300px;
      height: 300px;
    }
  }
}

.presentation-details {
  .presentation-title {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &.inline {
    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--layout-gap-small-lg);
    }

    .artwork-details {
      width: 300px;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @media (max-width: $breakpoint-md) { 
      header {
        flex-direction: column-reverse;
      }

      .artwork-details {
        align-items: flex-start;
      }
    }
  }
}

.presentation-artwork {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.preview-container {
  width: 100%;
  padding-top: 100%;
}

.artwork-details {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.view-collection-container {
  display: flex;
  justify-content: center;
}

.activity-wrapper {
  display: flex;
  justify-content: center;
}

.activity {
  width: min(100%, 1000px);
}

@media (max-width: $breakpoint-md) {
  .presentation {
    flex-direction: column-reverse;

    header {
      margin-left: 0px;
    }
  }
}