.presentation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--layout-gap-small-lg);
  grid-row-gap: 0px;

  header {
    margin-left: -20px;
  }

  &.presentation-small {
    grid-template-columns: 3fr 1fr;
  }
}

.presentation-details {
  grid-area: 1 / 1 / 3 / 2;

  .presentation-title {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &.inline {
    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--layout-gap-small-lg);
    }

    .artwork-details {
      width: 300px;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.presentation-artwork {
  grid-area: 1 / 2 / 3 / 3;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.preview-container {
  width: 100%;
  padding-top: 100%;
}

.artwork-details {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.view-collection-container {
  display: flex;
  justify-content: center;
}

.activity-wrapper {
  display: flex;
  justify-content: center;
}

.activity {
  width: 1000px;
}