@import './Variables.scss';

.artwork_header {

}

.artwork_header_mobile {
  display: none;
}

@media (max-width: $breakpoint-md) {
  .artwork_header {
    display: none;
  }
  
  .artwork_header_mobile {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

.presentation {
  width: 100%;
  display: flex;
  gap: var(--layout-margin-big-md);

  header {
    margin-left: -20px;
  }

  &.presentation-small {
    .presentation-artwork {
      width: 300px;
      height: 300px;
      flex-shrink: 0;
    }
  }
}

.presentation-details {
  .presentation-title {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &.inline {
    flex-grow: 2;
    
    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--layout-gap-small-lg);
    }

    .artwork-details {
      width: 300px;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @media (max-width: $breakpoint-md) { 
      header {
        flex-direction: column-reverse;
      }

      .artwork-details {
        align-items: flex-start;
      }
    }
  }
}

.presentation-artwork {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.preview-container {
  width: 100%;
  padding-top: 100%;
}

.preview-container-auto {
  width: 100%;
  padding-top: 100%;
  position: relative;

  .preview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.artwork-details {
  width: min(300px, 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.view-collection-container {
  display: flex;
  justify-content: center;
}

.activity-wrapper {
  display: flex;
  justify-content: center;
}

.activity {
  width: min(100%, 1000px);
}

@media (max-width: $breakpoint-md) {
  .presentation {
    flex-direction: column-reverse;

    header {
      margin-left: 0px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .artwork_buttons {
    button, a {
      width: 50px;

      & > span {
        display: none;
      }
      i {
        font-size: 1.2em;
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-small-sm);
  align-items: flex-start;
  width: 100%;
}