@import "./Variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
  background: white;
}

:root {
  --main-padding-sm: 30px;

  --color-primary: #FF005C;
  --color-secondary: #7000FF;
  --color-success: #00eda0;
  --color-error: #FF0000;
  --color-warning: #ffc300;
  --color-gray-vlight: #d3d3d3;
  --color-gray-light: #C4C4C4;
  --color-gray: #727272;
  --color-gray-dark: #484848;
  --color-black: #000000;
  --color-white: #FFFFFF;

  --layout-margin-big-lg: 80px;
  --layout-margin-small-lg: 30px;
  --layout-margin-big-md: 50px;
  --layout-margin-small-md: 20px;
  --layout-margin-big-sm: 20px;
  --layout-margin-small-sm: 10px;

  --layout-gap-big-lg: 50px;
  --layout-gap-big-md: 30px;
  --layout-gap-small-lg: 30px;
  --layout-gap-small-md: 15px;

  --font-size-small: 0.875rem;
  --font-size-regular: 1rem;
  --font-size-h6: 1rem;
  --font-size-h5: 1.25rem;
  --font-size-h4: 1.5625rem;
  --font-size-h3: 2rem;
  --font-size-h2: 2.4375rem;
  --font-size-h1: 3rem;
}

a {
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

h6 {
  font-size: var(--font-size-h6);
}
h5 {
  font-size: var(--font-size-h5);
}
h4 {
  font-size: var(--font-size-h4);
}
h3 {
  font-size: var(--font-size-h3);
}
h2 {
  font-size: var(--font-size-h2);
}
h1 {
  font-size: var(--font-size-h1);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media (max-width: $breakpoint-sm) {
  h6 {
    font-size: var(--font-size-h6);
  }
  h5 {
    font-size: var(--font-size-h6);
  }
  h4 {
    font-size: var(--font-size-h5);
  }
  h3 {
    font-size: var(--font-size-h4);
  }
  h2 {
    font-size: var(--font-size-h3);
  }
  h1 {
    font-size: var(--font-size-h2);
  }
}

p {
  line-height: 166%;
}