@import "./Variables.scss";
@import "./fonts.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
  background: var(--color-white);
  color: var(--color-black);
}

:root {
  --main-padding-sm: 20px;

  --color-primary: #FF005C;
  --color-secondary: #7000FF;
  --color-secondary-light: #b174ff;
  --color-secondary-vlight: #7e1aff;
  --color-secondary-dark: #5a00cc;
  --color-success: #00eda0;
  --color-error: #eb1b1b;
  --color-error-20: rgba(255, 0, 0, 0.2);
  --color-warning: #ffc300;
  --color-warning-light: #ffc3003b;
  --color-gray-vvvlight: #f1f1f1;
  --color-gray-vvlight: #e7e7e7;
  --color-gray-vlight: #d3d3d3;
  --color-gray-light: #C4C4C4;
  --color-gray: #727272;
  --color-gray-dark: #484848;
  --color-gray-vdark: #363636;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --rgb-white: 255, 255, 255;
  --color-border: #000000;
  --color-border-input: #000000;
  --color-donator: #3496eb;
  --color-info: rgba(0, 154, 255, 0.8);
  --color-info-light: rgba(0, 154, 255, 0.18);

  --layout-margin-big-lg: 80px;
  --layout-margin-small-lg: 30px;
  --layout-margin-big-md: 50px;
  --layout-margin-small-md: 20px;
  --layout-margin-big-sm: 20px;
  --layout-margin-small-sm: 10px;
  --layout-margin-md: 40px;

  --layout-gap-big-lg: 50px;
  --layout-gap-big-md: 30px;
  --layout-gap-small-lg: 30px;
  --layout-gap-small-md: 15px;

  --font-size-vsmall: 0.7rem;
  --font-size-small: 0.875rem;
  --font-size-regular: 1rem;
  --font-size-big: 1.125rem;
  --font-size-h6: 1rem;
  --font-size-h5: 1.25rem;
  --font-size-h4: 1.5625rem;
  --font-size-h3: 2rem;
  --font-size-h2: 2.5rem;
  --font-size-h1: 3rem;

  --font-size-paragraph: 1.3125rem;

  --font-family-primary: "Fira Code", monospace;

  --cards-border-width: 3px;
  --cards-shadow: 19px;
  --cards-gap: 30px;
  --cards-size: 270px;

  --fxl-color-light: #ffffff;
  --fxl-color-light0: #bbbbbb;
  --fxl-color-light1: #727272;
  --fxl-color-light2: #363636;
  --fxl-color-dark: #000000;
  --fxl-color-dark0: #111111;
  --fxl-color-dark1: #181818;
  --fxl-color-dark2: #1c1c1c;
  --fxl-color-background1: #f8f8f8;
  --fxl-color-background2: var(--color-gray-vvvlight);
  --fxl-color-background3: var(--color-gray-vvlight);

  --fxl-font-family: var(--font-family-primary);
  --fxl-color-primary: var(--color-primary);
  --fxl-color-primary-light: var(--color-primary);
  --fxl-color-secondary: var(--color-secondary);
  --fxl-color-secondary-light: var(--color-secondary-light);
  --fxl-color-background: var(--color-white);
  --fxl-color-background-hover: var(--color-white);
  --fxl-color-text-primary: var(--color-black);
  --fxl-color-text-primary-hover: var(--color-dark1);
  --fxl-color-text-secondary: var(--color-black);

  --fxl-color-panel-background: var(--fxl-color-dark);

  --fxl-font-size-xs: var(--font-size-vsmall);
  --fxl-font-size-s: var(--font-size-small);
  --fxl-font-size-regular: var(--font-size-regular);
  --fxl-font-size-m: var(--font-size-big);
  --fxl-font-size-l: var(--font-size-h4);

  --fxl-spacing: #{$spacing};
  --fxl-spacing-sm: #{$spacing-small};
  --fxl-spacing-xs: #{$spacing-x-small};
  --fxl-spacing-xxs: #{$spacing-2x-small};
  --fxl-spacing-l: #{$spacing-large};
  --fxl-spacing-xl: #{$spacing-x-large};
  --fxl-spacing-xxl: #{$spacing-2x-large};

}

.dark {
  --color-white: #242424;
  --rgb-white: 36, 36, 36;
  --color-black: white;
  --color-gray: #a5a5a5;
  --color-gray-vvvlight: #2b2b2b;
  --color-gray-vvlight: #2e2e2e;
  --color-gray-vlight: #363636;
  --color-gray-light: #505050;
  --color-gray-dark: #999999;
  --color-secondary: #c8ff00;
  --color-secondary-light: #7b9811;
  --color-secondary-vlight: #7b9811;
  --color-border: #0f0f0f;
  --color-border-input: #7e7e7e;
  --fxl-color-text-primary: var(--color-black);
  --fxl-color-background1: var(--color-gray-vvvlight);
  --fxl-color-background2: var(--color-gray-vvlight);
  --fxl-color-background3: var(--color-gray-vlight);
  --fxl-color-light2: var(--color-gray-light);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray);

  &:hover {
    background: var(--color-gray-dark);
  }

  &:active {
    background: var(--color-black);
  }
}

::-webkit-scrollbar-track {
  background: var(--color-gray-vlight);
}

a {
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

h6 {
  font-size: var(--font-size-h6);
}

h5 {
  font-size: var(--font-size-h5);
}

h4 {
  font-size: var(--font-size-h4);
}

h3 {
  font-size: var(--font-size-h3);
}

h2 {
  font-size: var(--font-size-h2);
}

h1 {
  font-size: var(--font-size-h1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  line-height: 166%;
}

button {
  font-family: inherit;
  font-size: inherit;
}

.dark {
  input {
    color: white;
  }
}

@media (max-width: $breakpoint-sm) {
  h6 {
    font-size: var(--font-size-h6);
  }

  h5 {
    font-size: var(--font-size-h6);
  }

  h4 {
    font-size: var(--font-size-h5);
  }

  h3 {
    font-size: var(--font-size-h4);
  }

  h2 {
    font-size: var(--font-size-h3);
  }

  h1 {
    font-size: var(--font-size-h2);
  }

  p {
    line-height: 1.3125;
  }
}

.modal-open {
  height: 100vh;
  overflow: hidden;
}
