@import './Variables.scss';

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    max-width: 800px;
    text-align: center;
  }
}

.random-artwork {
  display: flex;
  align-items: center;
  gap: var(--layout-gap-big-lg);
  justify-content: space-between;

  .artwork-container {
    width: 40vw;
    height: 40vw;
    min-width: 40vw;
    min-height: 40vw;
  }

  .section-subtitle {
    margin-left: -50px;
  }

  .artwork-details {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.row-responsive-limiter {
  & > * {
    display: none;
  }

  & > *:nth-child(1) {
    display: block;
  }

  @media (min-width: $breakpoint-vlg + 1px) {
    & > *:nth-child(5) {
      display: block;
    }
  }

  @media (min-width: $breakpoint-lg + 1px) {
    & > *:nth-child(4) {
      display: block;
    }
  }

  @media (min-width: $breakpoint-md + 1px) {
    & > *:nth-child(3) {
      display: block;
    }
  }

  @media (min-width: $breakpoint-sm + 1px) {
    & > *:nth-child(2) {
      display: block;
    }
  }
}