.padding-small {
  padding-left: var(--layout-margin-small-lg);
  padding-right: var(--layout-margin-small-lg);
}

.padding-big {
  padding-left: var(--layout-margin-big-lg);
  padding-right: var(--layout-margin-big-lg);
}