@import './Variables.scss';

.padding-small {
  padding-left: var(--layout-margin-small-lg);
  padding-right: var(--layout-margin-small-lg);

  @media (max-width: $breakpoint-lg) {
    padding-left: var(--layout-margin-small-md);
    padding-right: var(--layout-margin-small-md);
  }

  @media (max-width: $breakpoint-sm) {
    padding-left: var(--layout-margin-small-sm);
    padding-right: var(--layout-margin-small-sm);
  }
}

.padding-big {
  padding-left: var(--layout-margin-big-lg);
  padding-right: var(--layout-margin-big-lg);

  @media (max-width: $breakpoint-lg) {
    padding-left: var(--layout-margin-big-md);
    padding-right: var(--layout-margin-big-md);
  }

  @media (max-width: $breakpoint-sm) {
    padding-left: var(--layout-margin-big-sm);
    padding-right: var(--layout-margin-big-sm);
  }
}

.search-container {
  display: flex;
  gap: var(--layout-gap-small-lg);
}

.search-bar {
  width: calc(60% - var(--layout-gap-big-md) / 2);

  @media (max-width: $breakpoint-vlg) {
    width: calc(50% - var(--layout-gap-big-md) / 2);
  }

  @media (max-width: $breakpoint-lg) {
    width: calc(67.3% - var(--layout-gap-big-md) / 2);
  }

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.smallform {
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.cols2 {
  display: flex;
  flex-direction: row;
  gap: var(--layout-gap-big-lg);
  width: 100%;

  & > * {
    flex: 1 0 0;
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;

    &.responsive-reverse {
      flex-direction: column-reverse;
    }
  }
}