.regular {
  font-size: 1rem;
}

.h6 {
  font-size: var(--font-size-h6);
}

.h5 {
  font-size: var(--font-size-h5);
}

.h4 {
  font-size: var(--font-size-h4);
}

.h3 {
  font-size: var(--font-size-h3);
}

.h2 {
  font-size: var(--font-size-h2);
}

.h1 {
  font-size: var(--font-size-h1);
}

.small {
  font-size: var(--font-size-small);
}

.very_small {
  font-size: 0.8rem;
}