:global .dark :local {
  .logo {
    filter: invert(100%);
    display: block;
  }
  
  .logo_wrapper {
    position: relative;
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.14);
    }
  }
}