@import "../../../styles/Variables";

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.article {
  margin-bottom: $spacing-x-large;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint-sm) {
    margin-bottom: 20px;
  }
}
