@import "../../../styles/Variables";

.dropdown {
  padding: 0;
}
.open_btn {
  border: 3px solid var(--color-black);
  padding-left: 0;
  padding-right: 0;
  height: 50px;
  width: 50px;

  &:hover {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
  }
}
.opt {
  text-align: left;
  padding: 13px 7px;
  font-size: 13px;
  color: var(--color-black);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  i {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    text-decoration: none;
  }
}

@media (max-width: $breakpoint-sm) {
  .dropdown {
    right: -100px;
  }
}
