
.dropdown {
  padding: 0;
}
.dropdown_label {
  width: 100%;
}
.open_btn {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--color-black);
  i {
    font-size: 16px;
  }
  &:hover {
    border-color: var(--color-secondary);
    color: var(--color-secondary);
  }
}
.opt {
  text-align: left;
  padding: 8px 12px;
  cursor: pointer;
  font-size: var(--font-size-small);
  color: var(--color-black);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.opt_warning {
    font-weight: bold;
    color: var(--color-error);
  }
  i {
    font-size: 16px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    text-decoration: none;
  }
}
