.items {
  margin-left: 20px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 4px 0px;
  align-items: center;
  font-size: var(--font-size-small);

  & > *:nth-child(2n+1) {
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      right: calc(100% + 8px);
      bottom: calc(50% - 1px);
      width: 10px;
      height: 30px;
      border-color: var(--color-gray-light);
      border-style: solid;
      border-width: 0;
      border-bottom-width: 1px;
      border-left-width: 1px;
    }
  
    &:first-child {
      &::before {
        height: 15px;
        bottom: auto;
        top: calc(50% - 1px);
        border-bottom-width: 0;
        border-top-width: 1px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 5px;
      }
    }
  
    &:nth-child(3) {
      &::before {
        height: 15px;
      }
    }
  
    &:nth-last-child(2) {
      &::before {
        height: 15px;
        border-bottom-left-radius: 5px;
      }
    }
  }
  
  &.single_item {
    & > *:nth-child(2n+1) {
      &:first-child {
        &::before {
          height: 0;
        }
      }
    }
  }
  
  &.more_2_item {
    & > *:nth-child(2n+1) {
      &:nth-last-child(2) {
        &::before {
          height: 25px;
        }
      }
    }
  }
}