@import "../../styles/Variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 140px;
  padding: 18px var(--layout-margin-big-lg);

  @media (max-width: $breakpoint-lg) {
    min-height: 90px;
    padding-left: var(--layout-margin-big-md);
    padding-right: var(--layout-margin-big-md);
  }
  @media (max-width: $breakpoint-sm) {
    padding-left: 36px;
    padding-right: var(--layout-margin-big-sm);
  }
}

.logo {
  height: 0;
  display: flex;
  align-items: center;
  color: var(--color-black);
  font-size: 24px;
  margin-left: -40px;

  span {
    display: none;
  }
}

@media (max-width: 490px) {
  .logo--hide {
    display: none;
  }
  .header--search-opened {
    padding-left: var(--main-padding-sm);
  }
}
