.container {
  position: fixed;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(114, 114, 114, 0.45);
  transition: opacity 0.3s ease-in;
  opacity: 0;
  pointer-events: none;
  &--open {
    opacity: 1;
    pointer-events: all;

    & .menu {
     bottom: 0;
    }
  }
}

.menu {
  transition: 0.2s all ease-in;
  position: fixed;
  z-index: 60;
  padding: 24px 20px 32px;
  left: 0;
  bottom: -100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  overflow-y: auto;
  max-height: 100vh;
}

.links {
  display: flex;
  padding: 32px 0 24px;
  flex-direction: column;
}

.nav_button {
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-gray);
  transition: color 0.3s ease-out;
  text-align: left;
  &:last-child {
    padding-bottom: 0;
  }
}


.avatar_btn {
  border: 0;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 0;

  i {
    color: var(--color-gray);
  }
}

