@import "../../styles/Variables.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.layout_center {
    justify-content: center;
    text-align: center;
  }

  small {
    font-size: var(--font-size-regular);
    color: var(--color-grey-dark);
  }

  @media (max-width: $breakpoint-md) {
    h2 {
      font-size: var(--font-size-h4);
    }
  }

  @media (max-width: $breakpoint-sm) {
    h2 {
      font-size: var(--font-size-h4);
    }

    a {
      padding-left: 15px !important;
      padding-right: 15px !important;
      height: 48px;
    }

    &.sm_left {
      text-align: left;
      align-items: flex-start;
      justify-content: space-between;
    }
    &.sm_center {
      justify-content: center;
      text-align: center;
    }
  }
}
