@import "../../styles/Variables.scss";

.container {
  nav {
    border-bottom: 3px solid var(--color-gray-light);
    display: flex;
  }

  &.layout-fixed-size {
    nav {
      justify-content: center;
    }
  }
  &.layout-subtabs {
    nav {
      border-bottom: 3px solid var(--color-black);
    }
  }
}

.tab {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--color-gray);
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-out;
  margin-bottom: -3px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  &.active {
    color: var(--color-black);
    border-bottom-color: var(--color-black);
  }

  &:hover {
    color: var(--color-black);
    text-decoration: none;
  }
}

.tab-subtabs {
  padding: 8px 32px;
  background: var(--color-gray-vvlight);
  margin-bottom: 0;
  border: none;
  & + & {
    margin-left: $spacing-2x-small;
  }
  &.active {
    background: var(--color-black);
    color: var(--color-white);
  }
}

.tab-fixed-size {
  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: $breakpoint-lg) {
    padding-left: 0;
    padding-right: 0;
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
  }
}

.tab-full-width {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
}

@media (max-width: $breakpoint-sm) {
  .container nav {
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-left: 3px solid var(--color-gray-light);
    padding: 3px 0;
  }
  .container.layout-subtabs nav {
    display: grid;
    align-items: stretch;
    padding: 0;
    border: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .tab {
    padding-left: var(--layout-margin-big-sm);
    position: relative;
    left: -3px;
    border: none;
    width: 100%;
    justify-content: flex-start;

    &.active {
      border: none;
      border-left: 3px solid var(--color-black);
    }
  }

  .tab-subtabs {
    left: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    & + & {
      margin-left: 0;
    }
  }
}
