@import "../../styles/Variables.scss";

.container {
  nav {
    border-bottom: 3px solid var(--color-gray-light);
    display: flex;
    flex-direction: row;
  }
  
  &.layout-fixed-size {
    nav {
      justify-content: center;
    }
  }

  &.layout-fixed-size-narrow {
    nav {
      justify-content: flex-start;
    }
  }

  &.layout-subtabs {
    nav {
      border-bottom: 3px solid var(--color-black);
    }
  }

  &.layout-subtabs-vertical {
    nav {
      padding: 8px 0;
      justify-content: center;
      border-bottom: none;
    }
  }
}

.tab {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--color-gray);
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-out;
  margin-bottom: -3px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  &.active {
    color: var(--color-black);
    border-bottom-color: var(--color-black);
  }

  &:hover {
    color: var(--color-black);
    text-decoration: none;
  }
}

.tab-subtabs {
  padding: 8px 16px;
  background: var(--color-gray-vlight);
  margin-bottom: 0;
  border: none;
  font-size: var(--font-size-small);

  &+& {
    margin-left: $spacing-2x-small;
  }

  &.active {
    background: var(--color-black);
    color: var(--color-white);
  }
}

.tab-subtabs-vertical {
  padding: 10px $spacing-large;
  margin-bottom: 0;
  border: none;
  font-size: var(--font-size-small);

  &+& {
    border-left: 3px solid var(--color-gray-vvvlight);
  }

  &.active {}
}

.tab-fixed-size {
  white-space: nowrap;
  padding-left: 80px;
  padding-right: 80px;
}

.tab-fixed-size-narrow {
  white-space: nowrap;
  margin-right: 20px;
  padding-bottom: 32px;
}

.tab-full-width {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
}
@media (max-width: $breakpoint-lg) {
  .container.layout-fixed-size nav {
    justify-content: center;
  }
  .tab-fixed-size {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
  }
}


@media (max-width: $breakpoint-sm) {
  .container {
    overflow-x: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
  .container nav {
    min-width: fit-content;
  }

  .container.layout-full-width nav {
    justify-content: flex-start;
  }

  .container.layout-fixed-size nav {
    justify-content: flex-start;
  }

  .container.layout-subtabs nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    border: none;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .container.layout-subtabs-vertical nav {
    padding: 10px 0;
  }

  .tab {
    padding: 0 16px 10px 0;
    margin-bottom: 0;
    position: relative;
    border: none;
    white-space: nowrap;
    text-align: left;
    &:last-child {
      padding-right: 0;
    }

    &.active {
      border: none;
      &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 3px;
        z-index: 10;
        background-color: var(--color-black);
        width: 100%;
      }
    }
  }

  .tab-full-width {
    text-align: left;
    flex: 0;
  }

  .tab-subtabs {
    padding: 8px 12px;
    position: relative;
    border: none;
    left: 0;
    flex: 1 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-big);
    &+& {
      margin-left: 0;
    }
    &:after {
      display: none;
    }
    &:last-child {
      padding-right: 12px;
    }
  }

  .tab-subtabs-vertical {
    padding: 0 20px;
    font-size: var(--font-size-small);
    &:after {
      display: none;
    }
    &+&.active {
      border-left: 3px solid var(--color-gray-vvvlight);
    }
  }
}
