@import "../../styles/Variables.scss";

.container {
  nav {
    display: flex;
    border-bottom: 3px solid var(--color-gray-light);
  }
}

.tab {
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--color-gray);
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-out;
  margin-bottom: -3px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  &.active {
    color: var(--color-black);
    border-bottom-color: var(--color-black);
  }

  &:hover {
    color: var(--color-black);
    text-decoration: none;
  }
}

.tab-fixed-size {
  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: $breakpoint-lg) {
    padding-left: 0;
    padding-right: 0;
    flex: 1 1 0px;  
    display: flex;
    justify-content: center;
  }
}

.tab-full-width {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
}

@media (max-width: $breakpoint-sm) {
  .container nav {
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-left: 3px solid var(--color-gray-light);
    padding: 3px 0;
  }
  
  .tab {
    padding-left: var(--layout-margin-big-sm);
    position: relative;
    left: -3px;
    border: none;
    width: 100%;
    justify-content: flex-start;

    &.active {
      border: none;
      border-left: 3px solid var(--color-black);
    }
  }
}