@import "../../styles/Variables";

.btn_toggle {
  border: none;
  background: transparent;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
  position: relative;
  padding-left: 15px;
  left: -15px;
  text-align: left;

  i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    font-size: 10px;
    color: var(--color-gray);
    transition: all 0.15s;
  }

  &:hover {
    i {
      color: var(--color-black);
    }
  }
}
.placeholder {
  font-size: var(--font-size-small);
  color: var(--color-gray);
  i {
    margin-left: 8px;
  }
}
.placeholder_mobile {
  display: none;
}
.children {

}
@media (max-width: $breakpoint-sm) {
  .btn_toggle {
    left: 0;
    padding-left: 0;
    i {
      display: none;
      font-size: 14px;
      color: var(--color-black);
    }
    &_opened {
    }
  }
  .mobile_align_right {
    width: 100%;
    text-align: right;
  }
  .placeholder {
    font-size: var(--font-size-regular);
  }
  .placeholder_mobile {
    display: initial;
  }
  .children {
    grid-column: span 2;
    background-color: var(--color-gray-vvvlight);
    color: var(--color-black);
    width: 100%;
    padding: 4px 16px 4px 8px;
  }
}
