@import "../../styles/Variables.scss";

.container {
  width: 100%;
  background-color: var(--color-warning);
  display: flex;
  align-items: center;
  color: black;
  font-weight: normal;
  font-size: 0.8rem;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-border);

  height: 80px;
  @media (min-width: $breakpoint-sm) {
    height: 40px;
  }

  .message {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &:hover {
    font-weight: bold;
  }

  i {
    font-size: 28px;
    margin-right: 10px;
  }
}
