@import "../../styles/Variables.scss";

.container {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 0.8rem;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-black);
  padding: 4px 0px 4px 8px;

  a {
    color: var(--color-black);
    flex-grow: 2;
  }

  :global .dark :local & {
    border-bottom-color: var(--color-gray-light);
  }

  .message {
    display: flex;
    align-items: center;
    margin-right: 10px;

    i {
      font-size: 24px;
      margin-right: 10px;
    }
  }

  i {
    font-size: 24px;
  }
}