@import "../../styles/Variables.scss";

.container {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--color-border);
  height: 80px;
  padding: 0 8px;

  @media (min-width: $breakpoint-sm) {
    height: 40px;
  }
  a {
    color: black;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .message {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &:hover {
    font-weight: bold;
  }

  i {
    font-size: 24px;
    margin-right: 10px;
  }

}

.hidden {
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
  transform: translate(0, -80px);
  @media (min-width: $breakpoint-sm) {
  transform: translate(0, -40px);
  }
  height: 0
}

.btn_close {
  width: 40px;
  height: 32px;
  color: var(--color-black);
  background: transparent;
  border: none;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 3px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
