.group_details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.levels {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .tezos_icon {
    margin-right: 12px;
  }

  .sep {
    font-size: 0.6em;
    margin: 0 5px;
    color: var(--color-gray);
  }
}