@import "../../styles/Variables.scss";

@media (max-width: $breakpoint-sm) {
  .artwork_buttons {
    button, a {
      width: 50px;
      span {
        display: none;
      }
      i {
        margin-left: 0 !important;
      }
    }
  }
}
