@import "../../styles/Variables";

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contract_feedback {
  max-width: 400px;
}

.buttons_wrapper {
  gap: 12px;
}

.success {
  font-weight: bold;
  color: var(--color-success);
  font-size: var(--font-size-small);
  margin-bottom: 12px;
}

.button_mint_directly {
  align-self: flex-start;
}

.error {
  font-weight: bold;
  color: var(--color-error);
  font-size: var(--font-size-small);
  margin-bottom: 12px;
}

.infos {
  color: var(--color-gray);
  font-size: var(--font-size-small);
  margin-bottom: 12px;
}

@media (max-width: $breakpoint-sm) {
  .buttons_wrapper {
    gap: 16px;
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .mint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
}
