@import "../../styles/Variables.scss";

.container {
  display: flex;
  flex-direction: row;
  gap: var(--layout-gap-big-lg);
  align-items: center;
  width: 100%;

  & > * {
    flex: 1 0 0;
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.drag {
  height: 150px;
  width: calc(min(100%, 500px));
}

.artworkWrapper {
  width: 100%;
  position: sticky;
  top: 0;
}

.iframe-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.iframe-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.drag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}

.files-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  color: var(--color-error);
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }

  i {
    font-size: 40px;
    margin-right: 10px;
  }
}

.testing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artwork {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  width: 100%;
}

.artwork-view {
  align-items: flex-start;
}

@media (max-width: $breakpoint-sm) {
  .container {
    gap: 32px;
  }
  .button {
    width: 100%;
  }
}
