.container {
  display: flex;
  flex-direction: row;
  gap: var(--layout-gap-big-lg);
  align-items: center;
  width: 100%;

  & > * {
    flex: 1 0 0;
  }
}

.drag {
  height: 150px;
  width: calc(min(100%, 500px));
}

.iframe-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.iframe-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.drag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}