.container {
  border: var(--cards-border-width) solid var(--color-border);
  box-shadow: 0px 2px var(--cards-shadow) -7px rgba(0, 0, 0, 0.67);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.1s;
  color: var(--color-black);
  font-weight: normal;
  text-decoration: none !important;

  // &.hover_effect:hover {
  //   transform: translateY(-8px);
  //   box-shadow: 0px 10px var(--cards-shadow) -3px rgba(0, 0, 0, 0.4);
  //   text-decoration: none !important;
  // }
}

.thumbnail-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  border-top: var(--cards-border-width) solid var(--color-border);
  padding: 8px;
  overflow-wrap: break-word;
  word-break: break-word;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white);
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-gray-light);
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  text-align: center;

  i {
    color: var(--color-gray-light);
    font-size: 30px;
    margin-bottom: 15px;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price {
  color: var(--color-secondary);
  font-weight: bold;
  text-align: right;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .badge {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.8em;
    gap: 4px;
  }

  .bottom_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.undesirable {
  .flag {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      color: var(--color-error);
      font-size: 36px;
      margin-bottom: 8px;
    }
  }
}

.thumbinfos {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}
