@import "../../styles/Variables";

.container {
  border: var(--cards-border-width) solid var(--color-border);
  box-shadow: 0px 2px var(--cards-shadow) -7px rgba(0, 0, 0, 0.67);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img-wrapper {
  position: relative;
  display: block;
  width: 350px;
  min-height: 284px;
  border-right: 3px solid var(--color-border);

  &:hover+div {
    .title {
      text-decoration: underline;
    }
  }
}

.infos {
  flex: 1;
  padding: $spacing;
  display: flex;
  flex-direction: column;
}

.infos_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing;
  margin-bottom: $spacing;
}

.date {
  color: var(--color-gray);
}

.title {
  color: var(--color-black);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  flex: 1;
  margin: $spacing 0;

  p {
    font-size: var(--font-size-big);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    margin: 0;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (max-width: $breakpoint-md) {
  .img-wrapper {
    width: 40%;
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    flex-direction: column;
  }

  .img-wrapper {
    width: 100%;
    min-height: 150px;
    height: 150px;
  }

  .infos_header {
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-x-small;
  }

  .title {
    -webkit-line-clamp: 3;
  }

  .description {
    font-size: var(--font-size-regular);
  }
}