@import "../../styles/Variables";

.container {
  border: var(--cards-border-width) solid var(--color-border);
  box-shadow: 0px 2px var(--cards-shadow) -7px rgba(0, 0, 0, 0.67);
  width: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
}

.link_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.img-wrapper {
  position: relative;
  display: block;
  width: 350px;
  min-height: 284px;
  border-right: var(--cards-border-width) solid var(--color-border);
}

.infos {
  flex: 1;
  padding: $spacing;
  display: flex;
  flex-direction: column;
}

.infos_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing;
  margin-bottom: $spacing;
}

.author {
  position: relative;
  z-index: 50;
}

.date {
  color: var(--color-gray);
  margin-left: 10px;
}

.title {
  color: var(--color-black);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  flex: 1;
  margin: $spacing 0;

  p {
    font-size: var(--font-size-big);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    margin: 0;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.draft_banner {
  padding: 12px;
  text-align: center;
  font-weight: bold;
  color: var(--color-white);
  background: var(--color-gray);
}
.draft_container {
  border-color: var(--color-gray);
}
.draft_img-wrapper {
  border-color: var(--color-gray);
}

@media (max-width: $breakpoint-md) {
  .img-wrapper {
    width: 40%;
  }
}

@media (max-width: $breakpoint-sm) {
  .content {
    flex-direction: column;
  }

  .img-wrapper {
    width: 100%;
    min-height: 150px;
    height: 150px;
    border-right: none;
    border-bottom: var(--cards-border-width) solid var(--color-border);
  }

  .infos_header {
    gap: $spacing-x-small;
  }

  .title {
    -webkit-line-clamp: 3;
  }

  .description {
    font-size: var(--font-size-regular);
  }
}
