.container {
}
.url {
  color: var(--color-black);
}
.title {
  font-size: 1em;
  line-height: 1.625;
  color: var(--color-black);
  margin: 16px 0;
}
.user {
  font-size: var(--font-size-regular);
}
