@import "../../styles/Variables";

.animated {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px 3px 1px 6px;
  font-size: 0.8em;
  color: white;
  // font-weight: bold;

  i {
    font-size: 14px;
  }
}

.mint_progress {
  font-size: var(--font-size-small);
}

@media (max-width: $breakpoint-sm) {
  .title {
    font-size: var(--font-size-h5);
  }
  .mint_progress {
    & i {
      font-size: 0.8em;
    }
  }
}
