@import '../../styles/Variables.scss';

.container {
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: var(--cards-gap);
  grid-auto-flow: column;

  & > a {
    text-decoration: none !important;
  }
 
}
.col > a > div {
  margin-bottom: var(--cards-gap);
}