@import '../../styles/Variables.scss';

.container {
  display: flex;
  gap: var(--layout-gap-small-lg);
}

.avatar {
  width: 200px;
  height: 200px;
  border: 3px solid var(--color-border);
  flex-shrink: 0;
}

.a{
  text-decoration: none;
  color: lightgray;
}

.tz_link {
  font-weight: normal;
  text-decoration: none;
  color: var(--color-gray-light);
  transition: color .2s ease-out;

  &:hover {
    font-weight: bold;
    color: var(--color-secondary);
  }
}

@media (max-width: $breakpoint-md) {
  .container {
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: var(--font-size-h4);
      text-align: center;
    }

    .infos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.moderator {
  color: var(--color-success);
}

.badge {
  margin-left: 15px;
  color: var(--color-secondary);
}

.name {
  display: flex;
  align-items: center;
}
