@import '../../styles/Variables.scss';

.container {
  display: flex;
  gap: var(--layout-gap-small-lg);
}

.avatar {
  width: 200px;
  height: 200px;
  border: 3px solid var(--color-black);
  flex-shrink: 0;
}

.a{
  text-decoration: none;
  color: lightgray;
}

.link a{
  font-weight: normal;
  text-decoration: none;
  color: lightgray;
  transition: color .15s ease-in;
}

.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}



@media (max-width: $breakpoint-md) {
  .container {
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: var(--font-size-h4);
      text-align: center;
    }
  }
}

