@import "../../styles/Variables.scss";

.container {
  position: relative;
}

.menu {
  border: 3px solid var(--color-black);
  padding: 5px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  right: 0;
  text-align: right;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.2s ease-out;
  pointer-events: none;
  z-index: 100000;

  & > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

.button {
  font-family: inherit;
  border: none;
  background: none;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &.opened {
    color: var(--color-white) !important;
    background-color: var(--color-black) !important;

    i {
      color: var(--color-white);
    }
  }
}

.menu-opened {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

@media (max-width: $breakpoint-md) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu {
    align-items: flex-end;
    position: static;
    opacity: 1;
    height: 0;
    overflow: hidden;
    box-shadow: none;
    box-sizing: border-box;
    padding: 0;
    border: none;

    button {
      margin-right: 15px;
    }
  }

  .menu-opened {
    height: auto;
    border-right: 3px solid black;
    border-top: 3px solid black;
  }
}