@import "../../styles/Variables";

.selects {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .select_timezone {
    width: auto;
  }

  .input_days_wrapper {
    width: auto;
    margin-top: 0 !important;

    input {
      width: 100px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .selects {
    .select_timezone {
      width: 100%;
    }
    .select {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
