@import "../../styles/Variables";

.container {
  padding-top: 48px;
}
.center {
  width: min(100%, 1000px);
  margin: auto;
}

@media (max-width: $breakpoint-sm) {
  .container {
    padding-top: 4px;
  }
}
