@import "../../styles/Variables";
@import "../../styles/fonts.scss";

@mixin awidth {
  width: min(100%, 900px);
  margin-left: auto;
  margin-right: auto;
}

.awidth {
  @include awidth;
}

.header {
  text-align: center;
  position: relative;

  .description {
    text-align: left;
    margin-top: $spacing-x-large;
    @include font-secondary;
  }

  .thumbnail {
    margin-top: $spacing-x-large;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    img {
      max-height: calc(100vh - 64px);
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    figcaption {
      @include font-family-secondary;
      font-size: var(--font-size-small);
      font-weight: bold;
    }
  }

  .date {
    margin-top: $spacing;
    color: var(--color-gray);
  }

  .title {
    margin-top: $spacing-x-large;
  }

  .actions {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }
  .editTools {
    & > button {
      margin: $spacing 0;
    }
  }
  .lockButton {
    align-self: center;
  }
}

.collect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos {
  max-width: 900px;
  margin: 150px auto 0;
  width: 100%;
}

.body {
  overflow-wrap: break-word;
  word-break: break-word;

  &>* {
    margin-top: 2em;
    margin-bottom: 0;
  }

  :global {

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    blockquote,
    .embed_media,
    code {
      @include awidth;
    }

    pre {
      margin-top: 2.5em !important;
      margin-bottom: 0 !important;
    }

    p,
    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    ul,
    ol,
    table {
      &>code {
        font-family: inherit;
        background-color: var(--color-gray-vvlight);
        border: 1px solid var(--color-gray-vlight);
        padding: 0 4px;
        border-radius: 4px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    figure {
      margin-top: 2em !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Fira Code", sans-serif;
      line-height: 150%;
    }

    p,
    ul,
    ol,
    blockquote,
    table,
    figcaption {
      @include font-secondary;
    }

    pre {
      font-size: 14px;
    }

    .katex {
      font-size: 1.4rem !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

      &+h1,
      &+h2,
      &+h3,
      &+h4,
      &+h5,
      &+h6 {
        margin-top: 1.2em !important;
      }
    }

    .embed_media,
    .tezos_storage {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    figure.article_audio {
      max-width: 900px;
      width: 100%;
      margin: auto;
      audio {
        width: 100%;
      }
      figcaption {
        text-align: center;
        font-weight: bold;
        font-size: var(--font-size-small);
      }
    }

    figure.article_image, figure.article_video,  {
      width: fit-content;
      margin: 0 auto;

      img,
      video {
        max-height: calc(100vh - 64px);
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      figcaption {
        text-align: center;
        font-weight: bold;
        font-size: var(--font-size-small);
      }
    }

    blockquote {
      background-color: var(--color-gray-vvvlight);
      padding: 20px;
      border-radius: 4px;
      border-left: 3px solid var(--color-secondary);

      &>*:first-child {
        margin-top: 0 !important;
      }

      &>*:last-child {
        margin-bottom: 0 !important;
      }
    }

    :global(.hr) {
      font-size: 1.2rem;
    }

    ul li {
      margin-top: 0.5em;
      &:first-child {
        margin-top: 0;
      }
    }

    table {
      width: min(100%, 1400px);
      table-layout: fixed;
      border-collapse: collapse;
      font-size: 1rem;
      margin-left: auto;
      margin-right: auto;

      th {
        font-weight: bold;
      }

      th,
      td {
        border: 2px solid var(--color-border);
        padding: 12px;
      }
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.2rem;
    }

    @media (max-width: $breakpoint-sm) {
      h6 {
        font-size: 1.25rem;
      }

      h5 {
        font-size: 1.375rem;
      }

      h4 {
        font-size: 1.5625rem;
      }

      h3 {
        font-size: 1.875rem;
      }

      h2 {
        font-size: 2.1875rem;
      }

      h1 {
        font-size: 2.375rem;
      }
    }
  }
}

.related-articles {
  margin-top: $spacing-5x-large;

  h2 {
    max-width: 900px;
    width: 100%;
    margin: auto;
  }
}

.related-articles_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-x-large;
  max-width: 1920px;
  margin: $spacing-x-large auto 0;
}

@media (max-width: $breakpoint-lg) {
  .related-articles_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $breakpoint-sm) {
  .header {
    text-align: left;
    .title {
      font-size: 2.1875rem;
      margin-top: $spacing-3x-large;
    }
    .description {
      margin-top: $spacing-3x-large;
      margin-bottom: $spacing;
    }
    .thumbnail {
      margin-top: $spacing;
    }
  }
  .infos {
    margin-top: $spacing-x-large;
  }
  .related-articles_list {
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs {
    margin: 0 20px;
  }
  .body {
    overflow-wrap: break-word;
    word-break: break-word;

    &>* {
      margin-top: 0.88889em;
      margin-bottom: 0;
    }

    :global {

      pre {
        margin-top: 2.5em !important;
        margin-bottom: 0 !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure {
        margin-top: 1em !important;
      }

      .embed_media,
      .tezos_storage {
        margin-top: 2em;
        margin-bottom: 2em;
      }
    }
  }
}
