@import "../../styles/Variables";

@mixin awidth {
  width: min(100%, 900px);
  margin-left: auto;
  margin-right: auto;
}

.awidth {
  @include awidth;
}

.header {
  text-align: center;

  .description {
    text-align: left;
    margin-top: $spacing-x-large;
  }

  .thumbnail {
    margin: auto;
    margin-top: $spacing-x-large;
    max-width: 100%;
  }

  .date {
    margin-top: $spacing;
    color: var(--color-gray);
  }

  .title {
    margin-top: $spacing-x-large;
  }
}

.infos {
  max-width: 900px;
  margin: 150px auto 0;
  width: 100%;
}

.body {
  overflow-wrap: break-word;
  word-break: break-word;

  &>* {
    margin-top: 2em;
    margin-bottom: 0;
  }

  :global {

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    blockquote,
    .embed_media,
    code {
      @include awidth;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    figure {
      margin-top: 2em !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

      &+h1,
      &+h2,
      &+h3,
      &+h4,
      &+h5,
      &+h6 {
        margin-top: 1.2em !important;
      }
    }

    .embed_media,
    .tezos_storage {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    figure.article_image {
      width: fit-content;
      margin: 0;
      margin-left: auto;
      margin-right: auto;

      img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      figcaption {
        text-align: center;
        font-weight: bold;
        font-size: var(--font-size-small);
      }
    }

    table {
      width: min(100%, 1400px);
      table-layout: fixed;
      border-collapse: collapse;
      font-size: var(--font-size-small);
      margin-left: auto;
      margin-right: auto;

      th {
        font-weight: bold;
      }

      th,
      td {
        border: 2px solid var(--color-border);
        padding: 12px;
      }
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.2rem;
    }

    @media (max-width: $breakpoint-sm) {
      h6 {
        font-size: 1rem;
      }

      h5 {
        font-size: 1.125rem;
      }

      h4 {
        font-size: 1.25rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.75rem;
      }

      h1 {
        font-size: 2rem;
      }
    }
  }
}

.related-articles {
  margin-top: $spacing-5x-large;

  h2 {
    max-width: 900px;
    width: 100%;
    margin: auto;
  }
}

.related-articles_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-x-large;
  max-width: 1920px;
  margin: $spacing-x-large auto 0;
}

@media (max-width: $breakpoint-lg) {
  .related-articles_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $breakpoint-sm) {
  .infos {
    margin-top: $spacing-2x-large;
  }

  .header {
    text-align: left;
  }

  .title {
    font-size: var(--font-size-h4);
  }

  .related-articles_list {
    grid-template-columns: repeat(1, 1fr);
  }
}