.container {
  width: 100%;
  height: 100%;
  border: 10px solid var(--color-white);
  background-color: var(--color-white);
  box-shadow: 0px 4px 25px -9px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
}

:global .dark :local .container {
  box-shadow: 0px 4px 25px -9px rgba(0, 0, 0, 0.5);
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-container {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 0 1px var(--color-white) inset;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}