.container {
  width: 100%;
  height: 100%;
  border: 20px solid var(--color-border);
  background-color: var(--color-black);
  box-shadow: 0px 4px 25px -9px #000000;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-border);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}