.root {
  width: 100%;
  height: 100%;
  border: 10px solid var(--color-white);
  background-color: var(--color-white);
  box-shadow: 0px 4px 25px -9px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

  .iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}