.container {
  width: 100%;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;

  &.minted {
    color: var(--color-secondary);
    font-weight: bold;
  }
  i {
    margin-left: 8px;
  }
}

.progress {
  background: var(--color-gray-light);
  width: 100%;
  height: 5px;
  position: relative;
}

.progress_header {
}

.bar, .bar_burnt, .bar_reserve {
  position: absolute;
  top: 0;
  height: 100%;
  transition: width 0.15s ease-out;
}

.bar {
  background-color: var(--color-secondary);
  left: 0;
}

.bar_burnt {
  background-color: #b76200;
  right: 0;
}

.bar_reserve {
  background-color: var(--color-secondary-light);
}

.reserve_text {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--color-secondary-light);
  margin-top: 4px;
  font-size: var(--font-size-small);
}