@import "../../../../styles/Variables";
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  .title {
    font-weight: bold;
    color: var(--color-black);
  }

  .user {
    font-size: var(--font-size-small);
  }
}

@media (max-width: $breakpoint-sm) {
  .header {
    flex-wrap: wrap;
    gap: 4px 8px;
  }
}
