@import "../../styles/Variables";

.inputs {
  display: flex;
  align-items: center;
  gap: 15px;
}

.lock_container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.infos {
  color: var(--color-gray);
  font-size: var(--font-size-small);
  margin-bottom: 12px;
}
.button_purchase {}
.button_purchase_content {}

@media (max-width: $breakpoint-sm) {
  .inputs {
    flex-wrap: wrap;
  }
  .lock_container {
    width: 100%;
  }
  .button_purchase {
    flex: 1;
  }
  .button_purchase_content {
    display: block;
  }
}
