@import "../../styles/Variables";

.settings_card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 470px;
  gap: 32px;

  .settings_controls {
    flex-grow: 2;

    & > * {
      min-height: 34px;
    }

    & > *+* {
      margin-top: 12px;
    }
  }

  .card_wrapper {
    font-size: var(--font-size-regular);
    max-width: 320px;
    width: 100%;
    pointer-events: none;
  }
}
.settings_layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.layout_controls {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  & > * {
    min-height: 34px;
  }

  & > *+* {
    margin-top: 12px;
  }
}
.masonry_container {
  max-width: 360px;
  width: 100%;
}
.mini_card {
  width: 100%;
  background: var(--color-gray-vlight);
}
.mini_card_masonry:not(:last-child) {
  margin-bottom: calc(var(--cards-gap) * 0.5);
}
.slider {
  width: auto !important;
}

@media (max-width: $breakpoint-sm) {
  .settings_layout {
    flex-direction: column;
    gap: 16px;
  }
  .layout_controls {
    width: 100%;
    & > * {
      min-height: auto;
    }
  }
  .settings_card {
    gap: 16px;
    flex-direction: column;
    .settings_controls {
      width: 100%;
      & > * {
        min-height: auto;
      }
    }
  }
  .card_wrapper {
    align-self: center;
  }
}
