.container {}

.open_btn {
  width: 20px;
  height: 16px;
  padding: 2px 5px;
  color: var(--color-gray);
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 20px;
  }

  &:hover {
    color: var(--color-black);
  }
}

.btns_container {
  padding: 0;
}

.btn_action {
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
  color: var(--color-gray-dark);
  padding: 10px 14px;
  display: flex;
  align-items: baseline;
  font-weight: bold;
  font-size: var(--font-size-small);

  i {
    margin-right: 10px;
  }

  &:hover {
    color: var(--color-error);
  }
}

.report_btns {
  display: flex;
  align-items: center;
  justify-content: center;

  &>*+* {
    margin-left: 8px;
  }
}

.reports_bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}