.root {
  margin-bottom: var(--fxl-spacing-l);
  .title {
    font-size: var(--font-size-h5);
  }

  .description {
    font-size: var(--font-size-small);
    color: var(--fxl-color-text-secondary);
  }

  .content {
  }
}

