.hashControls {
  display: flex;
  button img {
    color: var(--fxl-color-text-primary);
    height: 100%;
    width: 100%;
  }
}

.hashInput {
  flex-grow: 1;
  margin-right: var(--fxl-spacing-xs);
  font-size: 10.8px !important;
}
