.controlPanel {
  display: flex;
  flex-direction: column;
  padding: var(--fxl-spacing-sm);
  gap: var(--fxl-spacing);
  border-top: 1px solid var(--fxl-color-dark2);
  font-size: var(--fxl-font-size-s);
}

.buttonsWrapper {
  flex-grow: 1;
  display: flex;
  gap: var(--fxl-spacing-sm);
  .submitButton {
    flex-grow: 1;
  }
}

.updateCheckbox {
  display: none;
  &:checked ~ label {
    &::before {
      background: var(--fxl-color-light1);
      box-shadow: 3px 3px 0px var(--fxl-color-dark2) inset,
        -3px -3px 0px var(--fxl-color-dark2) inset;
    }
  }
}

.submitButtons {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  gap: 4px;

  & > * {
    flex: 1 1 0;
  }
}

.creditCardButton {
  height: auto !important;
  width: 100%;
}

.reserveDropdown {
  color: var(--fxl-color-text-primary);
}

.caret {
  margin-right: 0 !important;
  margin-left: 15px;
}
