@import "../../../styles/Variables";
.featureList {
  list-style-type: none;
  padding: 0;
  font-size: var(--fxl-font-size-s);

  li {
    display: flex;
    margin-bottom: var(--fxl-spacing-xxs);
    align-items: center;
    padding: var(--fxl-spacing-xxs) 0 var(--fxl-spacing-xxs) var(--fxl-spacing-xxs);
    background: var(--fxl-color-dark0);
    gap: 0 10px;
    &:hover {
      background: var(--fxl-color-dark1);
    }
    & :first-child {
      flex-grow: 1;
      color: var(--fxl-color-light0);
    }
    & :last-child {
      min-width: 200px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .featureList li {
    & :first-child {
      flex: 1;
    }
    & :last-child {
      flex: 1;
      min-width: auto;
    }
  }
}
