.controlPanel {
  display: flex;
  flex-direction: column;
  padding: var(--fxl-spacing);
  gap: var(--fxl-spacing);
  border-top: 1px solid var(--fxl-color-dark2);
  font-size: var(--fxl-font-size-s);
}
.checkboxWrapper {
  display: flex;
  align-items: center;
  label {
    margin-left: var(--fxl-spacing-sm)
  }
}
.buttonsWrapper {
  flex-grow: 1;
  display: flex;
  gap: var(--fxl-spacing);
  .submitButton {
    flex-grow: 1;
  }
}

.updateCheckbox {
  display: none;
  &:checked ~ label {
    &::before {
      background: var(--fxl-color-light1);
      box-shadow: 3px 3px 0px var(--fxl-color-dark2) inset, -3px -3px 0px var(--fxl-color-dark2) inset;
    }
  }
}
