.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.right {
  position: sticky;
  top: 32px;
}

.description {
  max-width: 600px;
}

.back_wrapper {
  display: flex;
  align-items: flex-start;
}

.carousel {
  display: flex;
  flex-direction: row;
  gap: 10px;

  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
}
