@import '../styles/Variables.scss';

.footer {
  height: 20vw;
  background-color: black;
  color: var(--color-gray-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    color: var(--color-primary);
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

.socials {
  & > *+* {
    margin-left: 5px;
  }
  a {
    font-size: 20px;
    transition: all 0.2s ease-out;
    color: var(--color-grey-dark);

    &:hover {
      color: var(--color-secondary);
    }
  }
}

.powered {
  position: absolute;
  right: 12px;
  bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: $breakpoint-md) {
  .footer {
    height: auto;
    text-align: center;
    padding: 50px 0 70px;
  }

  .details {
    flex-direction: column;
    gap: 20px;
  }

  .socials {
    & > *+* {
      margin-left: 15px;
    }
    a {
      font-size: 32px;
    }
  }
}