@import "../styles/Variables.scss";

.header {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--main-padding-sm);
  padding-left: 10px;

  @media (max-width: $breakpoint-md) {
    padding-left: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: var(--color-black);
  font-size: 24px;
  
  span {
    display: none;
  }
}