.nav {
  display: flex;
  align-items: center;

  a, button {
    font-weight: bold;
    color: var(--color-gray);
    transition: color 0.3s ease-out;
    padding: 15px;
    text-decoration: none !important;

    &:hover, &.active {
      color: var(--color-black);
    }
  }

  :global(.btn-sync) {
    margin-left: 15px;
  }
}

.avatar {
  width: 64px;
  height: 64px;
  border: 3px solid var(--color-black);
  transition: all .15s ease-out;

  &:hover {
    border-color: var(--color-secondary);
  }
}