.root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}

.medias {
  border: 3px solid var(--color-border);
  height: 400px;
  background-color: var(--color-gray-vvvlight);
  overflow-y: auto;
  width: 100%;
}

.empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background-color: var(--color-white);
  margin-bottom: 1px;
  padding: 10px;
  padding-right: 16px;
  gap: 10px;

  .image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;
  }

  .uri {
    font-size: var(--font-size-vsmall);
    flex-grow: 2;
  }
}