@import "../../styles/Variables";

.modal {
  width: 100%;
  max-width: 800px;
}

.dropzone {
  margin: 0 auto;
  width: 80%;
}

.csv_example {
  padding: $spacing-x-small;
  background-color: var(--color-gray-vvlight);
}

.container_import {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $spacing;
}

.error {
  white-space: pre-line;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.splits {
  margin-top: $spacing;
}