.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-black);

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rarity {
    color: var(--color-gray);
  }

  .details, .rarity {
    padding: 10px;
  }

  &.has_rarity {
    justify-content: flex-start;

    .details {
      flex-grow: 1;
      align-items: flex-start;
    }
  }
}

.features {
  display: grid;
  gap: 8px;

  &.responsive {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  &.cols_2 {
    grid-template-columns: 1fr 1fr;
  }
}

.no_features {
  color: var(--color-gray);
}