.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  section {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    & > span {
      text-align: center;
      max-width: 600px;
      font-size: var(--font-size-small);
      color:  var(--color-gray);
      line-height: 19px;
      &:first-child {
        font-size: var(--font-size-regular);
        color:  var(--color-black);
      }
    }
  }
}
.indexerStatus, .networkStatus {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.networkStatus {
  text-align: right;
}
.status_label {
  align-self: center;
  font-weight: bold;
}