.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;

  &.icon_right {
    flex-direction: row-reverse;
  }
}
.loader {
  display: inline-block;
  vertical-align: sub;
}

.severity_low {
  color: inherit;
}
.severity_medium {
  color: inherit;
}
.severity_high {
  color: var(--color-error);
}