.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  label {
    flex-direction: row-reverse !important;
    justify-content: flex-end;
    padding-left: 0;

    span {
      margin-left: 20px;
    }
  }
}

.form {
  width: 100%;
}