@import "../../styles/Variables";

.container {
  display: flex;
  flex-direction: row;
  gap: var(--layout-gap-small-lg);

  & > * {
    flex: 1 0 0;
  }
}

.artwork {
  width: 100%;
}

.preview-cont {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.preview-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.checkboxes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.button {

}

@media (max-width: $breakpoint-sm) {
  .container {
    flex-direction: column;
  }
  .checkboxes {
    width: 100%;
  }
  .button {
    width: 100%;
  }
}
