.container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  h3 {
    color: var(--color-success);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    i {
      font-size: 2em;
    }
  }
}