@import "../../styles/Variables.scss";

.search_header {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  display: flex;
  gap: var(--layout-gap-small-lg);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: -30px;
  z-index: 10;
  background-color: var(--color-white);
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  @media (max-width: $breakpoint-md) {
    gap: var(--layout-gap-small-md);
  }
}

.search_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 2;
  gap: 8px;
}

.search_bar {
  flex-grow: 2;
  max-width: 800px;
}

.filter_btn {
  border: 3px solid var(--color-border-input);
  background: transparent;
  color: var(--color-border-input);
  cursor: pointer;
  opacity: 1;
  height: 50px;
  width: 50px;
  padding: 0 10px;
  transition: all 0.15s;

  &.filters_opened {
    background: var(--color-border-input);
    color: var(--color-white);

    i {
      font-size: 32px;
    }
  }

  span {
    display: none;
  }

  &:hover {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
  }
}

@media (max-width: $breakpoint-sm) {
  .search_header {
    padding-top: 40px;
    padding-bottom: 10px;
    gap: 10px;
  }

  .filter_btn {
    position: fixed;
    bottom: 10px;
    left: 50%;
    z-index: 10;
    top: auto;
    background: black;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateX(-50%);
    height: 50px;
    padding: 0 30px;
    gap: 10px;
    color: white;
    border: none;
    width: auto;

    span {
      display: block;
    }
  }
}