.user {
  margin-left: 8px;

  a {
    font-weight: normal;
    color: var(--color-black);
  }
}

.amount {
  color: var(--color-gray);
}

.active {
  color: var(--color-success);
  font-weight: bold;

  a {
    color: var(--color-success);
    font-weight: bold;
  }
}