.container {
  height: 50px;
  display: flex;
  background-color: var(--color-black);
  padding-left: 20px;
  color: var(--color-white);
  align-items: center;

  i {
    cursor: pointer;
    padding: 15px;
    margin-left: 5px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}