.root {
  background: var(--color-gray-vvlight);
  padding: 6px;
  padding-top: 8px;

  &:not(:first-child) {
    margin-top: 12px;
  }

  .title {
    font-weight: bold;
  }

  .content {
    margin-top: 12px;
  }
}