---
title: 'Getting verified'
date: '2022-09-02'
description: 'How to get verified on the platform'
---



# Verification

To protect fxhash users, the platform uses a verification system. Verified users have 2 advantages over unverified users:
* the badge next to their name
* the ability to bypass the 3-hour lock of their token when they mint

That's it. Those simple measures helps in preventing scammers to reach the front-end of the application.

Verification represents that the moderation team can trust that your work is yours, follows the CoC and that the intentions of the work are sound. Verification is not a right, and the lack of verification does not limit your chances of your work being minted.

At the end of the 3-hour mint lock for unverified accounts your work will be released at the start of the explore page. 


# Getting verified

To drastically improve chances of verification link your tz address to your twitter with [tzProfile](https://tzprofiles.com/). It's the easiest way for us to assert if your tezos address belongs to a Twitter account.

Then come to the [https://discord.gg/fxhash](https://discord.gg/fxhash), assign a role in [`#💥-role-assign`](https://discord.gg/Zazqy4T85S) and locate the [`#✅-request-verification`](https://discord.gg/HDb8qENgc3) channel and fill out the google form. 

NOTE: this form DOES NOT require an email address, and we **WILL NOT** be able to see your email address if you are signed into google.

We are not currently dealing with collector only verification, but you may still fill the form out. This data may be used later on, if and when, we decide to roll out collector verification.


# The verification process

Once you have submitted your verification a moderator needs to review your account to see if your profile is in line with our criteria. **We check these once per week and process the approved accounts in batches.** Due to the number of applications we will not notify you individually if you are approved or not. But feel free to reach out in [❓-verification-questions](https://discord.gg/Hsaz9g52) and a moderator or community support member may be able to give you an explanation. 

If you are told that you have failed, or after a week have not been verified, you are free to try again.


# Verification criteria

The following criteria is the baseline for what we look for when verifying accounts, however in certain circumstances these will not be adequate and your verification may be put on hold pending another look.

* You need to have a history of work - either on fxhash or another platform - that makes sense in context (e.g. a history of generative/code based practice)
* No history of shady activity.
* Some sort of verifiable identity. This means a twitter account that has some history, instagram etc.

If your account falls into any of these criteria, please understand that we cannot grant the verification badge for now. Publish some of your work on the platform going through the usual process, and ask for the verification once you consider that we can establish your artistic identity without a doubt.

We will not grant verification if we have doubts about your identity.

Having multiple minted works, being an active member of the community, having a strong body of work external to fxhash, being a model community member and having socials linked to your account all strongly aid a successful verification. 

# Losing your verification

If you act in a way which is against the CoC, do harm to the community, or become untrustworthy, the moderation team reserve the right to revoke your verification. Since the verification is essentially a way for the community to instantly know who is and isn't trustworthy in the eyes of the moderation team, we cannot allow untrustworthy members the privilege of verified status.

Before you lost your verification we will likely reach out to you in case we have come to the wrong conclusion surrounding your status. It is unlikely that you will randomly lost your verification without being made aware prior. 

In some rare instances you may have been verified without actually meeting the correct criteria, much like before we will reach out to you to let you know. 