@import '../../../styles/Variables.scss';

.presentation_header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  .presentation_details {
    .artwork_details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: auto;
    }
  }

  .preview_wrapper {
    width: 256px;
    height: 256px;
    margin-right: var(--layout-gap-small-lg);
    flex-shrink: 0;
  }
}

.progress_container {
  width: 250px;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
  gap: 30px 0;

  .metric {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    text-align: center;

    & > span {
      color: var(--color-gray);
      font-size: var(--font-size-small);
    }

    strong {
      color: var(--color-secondary);
      font-size: var(--font-size-h4);
    }
  }
}

@media (max-width: $breakpoint-md) {
  .metrics {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: $breakpoint-sm) {
  .presentation_header {
    flex-direction: column;

    .presentation_details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      
      .artwork_details {
        width: 100%;
      }

      h3 {
        text-align: left;
      }
    }

    .preview_wrapper {
      margin-bottom: 32px;
      margin-right: 0;
      width: 50%;
      height: 100%;
    }
  }
  .progress_container {
    width: 100%;
  }
  .button {
    width: 100%;
  }
  .metrics {
    margin-top: 0;
    gap: 20px 8px;
    grid-template-columns: repeat(2, 1fr);
    .metric {
      gap: 6px 0;
      align-items: flex-start;
      text-align: left;
    }
  }
  .tabs {
    margin: 0 20px;
  }
}
