@import "../../../../styles/Variables";

.wrapper {
  margin-bottom: $spacing-large;
}
.table_container {
  position: relative;
}
.add_col, .add_row {
  border: none;
  background: var(--color-gray-vlight);
  cursor: pointer;
  transition: background-color ease-out 0.3s;
  &:hover {
    background: var(--color-gray-light);
  }
}
.add_row {
  height: 20px;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.add_col {
  width: 20px;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 10;
}

.table {
  width: 100%;
  border: 2px solid var(--color-black);
  border-collapse: collapse;
  table-layout: fixed;
  th, td {
    padding: $spacing-small;
    border: 2px solid var(--color-black);
  }
}

.is_selected {
  outline: 2px solid var(--color-secondary);
}
