@import "../../styles/Variables";

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: inherit;

  .icon {
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-color: black;
    flex-shrink: 0;
    border: 3px solid var(--color-border);
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    text-decoration: none;
  }

  .details {
    overflow-wrap: break-word;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
  }

  .metric {
    flex-shrink: 0;
    margin-left: auto;
    font-size: 1.1em;
    font-weight: bold;
  }
}

@media (max-width: $breakpoint-sm) {
  .root {
    .icon {
      width: 64px;
      height: 64px;
    }
  }
}
