.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .icon {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-color: black;
    flex-shrink: 0;
    border: 3px solid var(--color-border);
  }

  .details {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
  }
}