@import "../../styles/Variables.scss";

.root {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 16px 32px;
  height: 100%;

  :global .price {
    color: var(--color-secondary);
  }
}

@media (max-width: $breakpoint-md) {
  .root {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 1fr);

    & > *:nth-child(15) {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .root {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 0;

    & > * {
      border-bottom: 1px solid var(--color-gray-vlight);
      padding-bottom: 8px;
      padding-top: 8px;
    }

    & > *:nth-child(15) {
      border-bottom: none;
      display: flex;
    }
  }
}
