@import "../../../../styles/fonts";
.mention_user {
  vertical-align: bottom;
}

.mention_display {
  padding: 0 4px;
  background: var(--color-gray-vvvlight);
  border-radius: 4px;
  font-weight: 600;
  color: var(--color-primary);
}

.mention_focused {
  box-shadow: 0 0 0 2px var(--color-primary);
}
