@import "../../styles/Variables";

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 32px;
  font-size: var(--font-size-regular);
}

.projects {
  margin-top: 32px;
}

.cta {
  margin-top: $spacing-x-large;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.explore_more {
  color: var(--color-black);
}

.row-responsive-limiter {
  grid-template-columns: repeat(5, 1fr);
  @media (max-width: $breakpoint-vlg) {
    grid-template-columns: repeat(4, 1fr);
    & > *:nth-child(1n+9) {
      display: none;
    }
  }
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
    & > *:not(:nth-child(1n+10)) {
      display: initial;
    }
    & > *:nth-child(1n+10) {
      display: none;
    }
  }
  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
    & > *:nth-child(1n+7) {
      display: none;
    }
  }
  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(auto-fit, minmax(var(--cards-size), 1fr));
    & > *:nth-child(1n+5) {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    padding-top: 80px;
    padding-bottom: 68px;
  }
  .explore_more {
    background-color: var(--color-black);
    width: 100%;
    color: var(--color-white);
    text-align: center;
    padding: 12px 8px;
    i {
      display: none;
    }
  }
}
