@import "../../styles/Variables";

.container {
  padding-right: 80px;
  padding-bottom: 0;
  margin-bottom: 128px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.left {
  display: flex;
  flex-direction: column;
  width: 52.76%;
}
.right {
  flex: 1;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.text {
  border-left: 16px solid var(--color-primary);
  padding-left: 64px;
  padding-bottom: 48px;
  padding-top: 30px;
  h1 {
    max-width: 480px;
  }
  .socials {
    margin-top: 48px;
    color: var(--color-gray);
    font-size: var(--font-size-small);
  }
  .description {
    margin-top: 48px;
    font-size: var(--font-size-regular);
    line-height: 1.33;
    max-width: 400px;
  }
  .button {
    width: fit-content;
    margin-top: 48px;
  }
}
.articles {
  padding-left: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 36px;
  h6 {
    margin-bottom: 8px;
    font-weight: 400;
  }
  a {
    font-size: var(--font-size-h4);
  }
  i {
    margin-left: 0.5em;
  }
}
@media (max-width: $breakpoint-md) {
  .container {
  }
  .text {
    padding-left: 34px;
  }
  .articles {
    padding-left: 50px;
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    padding: 0 20px 20px;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .left {
    width: 100%;
  }
  .text {
    border-left: none;
    padding-left: 0;
    h1 {
      font-size: var(--font-size-h3);
    }
    .button {
      width: 100%;
      margin-top: 36px;
    }
    .articles a {
      font-size: var(--font-size-h5);
    }
  }
  .articles {
    padding-left: 0;
  }
  .right {
    max-width: 400px;
    width: 100%;
    margin: 48px auto 0;
  }
}
