@import "../../styles/Variables";

.container {
  padding-top: 40px;
  padding-bottom: 112px;
}

.container_events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(293px, 1fr));
  gap: 24px;
}

@media (max-width: $breakpoint-sm) {
  .container_events {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
};
