.credit_card_btn {
  height: 50px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: var(--font-size-regular);
  display: flex;
  flex-direction: row;
  align-items: center;
  &_children {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .icon_winter {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  .caret {
    margin-left: 12px;
    margin-right: 0;
  }
}
