.wrapper {
  position: relative;

  .hover_message {
    background: black;
    color: white;
    position: absolute;
    text-align: center;
    font-size: var(--font-size-small);
    padding: 4px 8px;
    bottom: 50%;
    left: 50%;
    pointer-events: none;
    opacity: 0;
    transition: all 0.15s ease-out;
    word-break: break-word;
    width: max-content;
    max-width: 300px;
    z-index: 20;
  }

  &.hover_enabled:hover {
    .hover_message {
      bottom: calc(100% + 4px);
      opacity: 1;
    }
  }
}
