@import "../../styles/Variables.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 16px);
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header {
    background: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    margin-left: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      padding: 10px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    overscroll-behavior: contain;
    background: var(--color-white);
    border-top: none;
    margin-top: 0;
    padding: 16px;
    text-align: left;
    overflow: auto;
  }
}

.btn_close {
  width: 40px;
  height: 32px;
  color: var(--color-gray);
  background: transparent;
  border: none;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: $breakpoint-sm) {
  .modal {
    left: 0;
    top: 32px;
    bottom: 0;
    right: 0;
    transform: none;
    max-width: none;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 32px);
    overflow: auto;

    header {
      background-color: var(--color-white);
      color: var(--color-black);
      span {
        font-size: var(--font-size-h4);
        padding: 32px 20px;
      }
    }

    main {
      padding: 0 20px 20px;
    }
  }
  .btn_close {
    width: auto;
    height: auto;
    padding: 32px 20px;
    font-size: 33px;
  }
}
