.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70vw;

  header {
    background: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    span {
      padding: 10px 15px;
    }
  }

  main {
    background: var(--color-white);
    border: 3px solid var(--color-border);
    margin-top: -1px;
    padding: 15px 10px 10px;
  }
}

.btn_close {
  width: 40px;
  height: 32px;
  color: var(--color-white);
  background: transparent;
  border: none;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}