.container {
  position: relative;

  button {
    background: transparent;
    border: none;
    font-size: 24px;
    margin-left: 8px;
    cursor: pointer;
    color: var(--color-gray);
    transition: all 0.2s ease-out;

    &:hover {
      color: var(--color-black);
    }
  }

  span {
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-out;
    position: absolute;
    width: 150px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-gray);
    font-weight: bold;
  }

  &:hover {
    span {
      left: 50px;
      opacity: 1;
    }
  }
}